<div class="container center-block text-white">
    <br>
    <h2 class="text-center">Who are we? A legend? Probably. A motor? Uhmm. A sport? Kinda.</h2> 
    <h3 class="text-center">The best legendary motorsport e-commerce ever created with ruby-lang ever? <b>Yes</b>.</h3>
    <br><br>
    <p>
        We indeed are, a legend, a motor and a sport. All those things at once but, there's more. <br><br>
        We are one of the best e-commerce out there. You can trust your money, your passion and your precious time with us. We have the best cars, a whole variety of them. And... You can <%= link_to "buy", about_path , class:"about_link" %> everything we have in out <%= link_to "catalogue", show_products_path, class:"about_link" %> catalogue if you desire so.
        <br><br>
        Not satisfied yet and you also happen to have some spare cars? Well... We have good news! You also can <%= link_to "sell", about_path , class:"about_link" %> cars here.
        <br><br>
        We hope we have profoundly convinced you that you should stay in this awesome site, and we hope to see your money... your presence here regularly!
        <br><br>
        Cheers!
        <br><br>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp - LM team.
    </p>
</div>