<%= render 'form', question: @question %>

<%if false%>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <% if false %>
        <%= link_to 'Show', car_question_path, class:"btn btn-danger" %> 
    <% end %>
    <%= link_to 'Back', car_path(params[:car_id]), class:"btn btn-warning" %>
</div>
<%end%>