<div class="card question-form--card-div">
    <h2 class="card-header text-dark border-0">Edit your question</h2>
    <h6 class="card-header text-dark small text-muted">Edit the question you asked by filling this form</h6>
    <%= render 'form', question: @question %>
</div>