<%= render 'form', question: @question %>

<%if false%>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <%= link_to 'Back', car_path(params[:car_id]), class:"btn btn-warning" %>
</div>
<%end%>