@import '~bootstrap/scss/bootstrap';

.small-container{
    width: 100%;
    max-width: 650px;
}

.large-container{
    width: 100%;
    max-width: 960px;
}

.center-block{
    margin: 0 auto;
}

.padding{
    padding: 10px 15px;
}

.margin-top{
    margin-top: 1.5em;
}

    .field{
    @extend .margin-top;
    label{
        @extend .text-uppercase;
        @extend .text-secondary;
    }
    &:first-of-type{
        margin-top: 0;
    }
    input{
        @extend .form-control;
        @extend .bg-light;
    }
    input[type='check-box']{
        display: inline-block;
        width: auto;
        vertical-align: middle;
        margin-right: 0.5em;
    }
}

.profile-thumbnail{
    width: 150px;
}

.home--link, .about--link, .catalogue--car-model-link{
    text-decoration: none;
    color: rgb(255, 192, 192);
}

.home--link:hover, .about--link:hover{
    color: rgb(255, 0, 0);
    -webkit-text-fill-color: rgb(255, 0, 0);
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: white;
    -webkit-font-smoothing: antialiased;
}

.catalogue--car-model-link:hover {
    color: rgb(255, 192, 192);
    text-shadow: 0px 0px 5px red;
}

.contact--logo-image {
    width: 25px;
    margin-right: 8px;
}

.contact--button {
    border-radius: 10px;
    margin-right: 3em;
    margin-left: 3em;
}

.contact--button:hover {
    box-shadow: 0px 0px 12px #000000;
}

.new-session--checkbox-label {
    user-select: none;
}

.header--lm-logo {
    padding: 0;
    margin-top: 0.25em !important;
    margin-bottom: 0.2em !important;
    height: 35px;
    opacity: 100%;
    
}

.header--lm-logo:hover {
    -webkit-filter: drop-shadow(5px 5px 5px rgb(255, 0, 0) );
    filter: drop-shadow(5px 5px 5px rgb(255, 0, 0));
}

nav {
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.2);
}

.header--nav-item {
    color: rgba(255, 255, 255, 0.959) !important;
    font-size: 1.2em;
}

.header--nav-item:hover {
    color: white !important;
    text-shadow: 0px 0px 3px #ff0000, 0px 0px 10px #ff0000;
}

.dropdown-menu {
    min-width: 1em !important;
}

.cars--index--catalogue-container {
    background:rgba(95, 95, 95, 0.877);
    border-radius: 1.5em;
    box-shadow: 0px 0px 10px #000000;
}

.car-catalogue--car-image {
    border-radius: 0.5em;
    box-shadow: 0px 0px 3px #000000;
}

.car-catalogue--car-image:hover {
    box-shadow: 0px 0px 20px #0000009f;
}

.car-catalogue--header {
    font-weight: normal !important;
}

.btn-buy {
    background-color: rgb(94, 175, 29);
    border: none;
    align: justify;
    border-radius: 10px;
}

.btn-buy:hover {
    background-color: rgb(104, 192, 31);
}

.btn-buy:focus {
    background-color: rgb(94, 175, 29);
}

.btn-buy:active, .btn-buy-disabled:active {
    outline-color: none;
}

.btn-buy-disabled {
    background-color: rgb(94, 143, 55);
}

.btn-buy-disabled:hover {
    background-color: rgb(94, 143, 55);
}

.active-posts--btn-edit-left {
    float: left;
    width: 49%;
    border-radius: 10px;
}

.active-posts--btn-delete-right {
    float: right;
    width: 49%;
    border-radius: 10px;
}

.car-form--card-div {
    border-radius: 1em;
    box-shadow: 0px 0px 6px #000000;
}

.car-form--btn-submit {
    border-radius: 12px;
}

.show--card {
    background:rgba(95, 95, 95, 0.877);
    border-radius: 1.5em;
    box-shadow: 0px 0px 10px #000000;
}

.show--car-image, .buy--car-image {
    border-radius: 0.5em;
    box-shadow: 0px 0px 3px #000000;
    margin-top: 3em;
}

.show--car-head {
    color: rgb(255, 255, 255) !important;
    font-weight: bold;
}

.show--div-info {
    width: 100%;
}

.show--div-info-image {
    float: left;
    width: 40%;
    text-align: center;
}

.show--div-info-attributes {
    font-size: 130%;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.h-divider{
    margin-top:5px;
    margin-bottom:5px;
    height:1px;
    width:100%;
    border-top:5px solid white;
}

.question-form--card-div {
    border-radius: 1em;
    box-shadow: 0px 0px 6px #000000;
}

.questions-form--submit-div {
    width: 92%;
}

.question-form--btn {
    border-radius: 12px;
}

.question-form--text-area {
    background-color: #f8f9fa;
}

.question-form--text-area:focus {
    background-color: #f8f9fa;
}

.question-show--card-div {
    border-radius: 1em;
    box-shadow: 0px 0px 6px #000000;
}

.question-show--text-area {
    background-color: white !important;
}

.answer-form--btn {
    border-radius: 12px;
}

.question-show--question-content-div {
    margin-top: 0;
}

.user-show--card-div, .user-edit--card-div, .user-sign-up--card-div, .user-sign-in--card-div {
    border-radius: 1em;
    box-shadow: 0px 0px 6px #000000;
}

.user-show--details {
    font-size: x-large;
}

.user-show--details-div {
    border-radius: 0.8em;
}

.user-show--avatar, .user-edit--avatar {
    border-radius: 2em;
}

.borderless-cell {
    border: 1px solid Transparent !important;
} 

.user-show--edit-btn, .user-edit--btn, .user-sign-up--btn, .user-sign-in--btn {
    border-radius: 10px;
}

.user-sign-up--btn-lg, .user-sign-in--btn-lg {
    border-radius: 12px;
}

.header--username-item {
    margin-bottom: 0.5em;
}

.header--dropdown-menu {
    border-radius: 0.7em;
}

.car-show--table {
    font-size: large;
    color: white !important;
    margin-bottom: 0;
}

.car-show--table-labels {
    color: rgb(214, 214, 214) !important;
}

.car-show--table-edit-btn {
    color: rgb(230, 230, 230) !important;
    font-size: small;
}

.car-show--details-btn {
    border-radius: 10px;
}

.car-show--card-divider {
    color: black;
    margin: 0;
}

.car-show--question-btns-div {
    float: right;
    margin-top: 0.2em;
}

.car-show--edit-question-btn {
    width: 20px;
}

.car-show--answer-question-image {
    width: 20px;
    margin-right: 10px;
}
.car-show--answer-question-btn {
    border-radius: 10px;
}

.car-show--answer-question-btn:hover {
    box-shadow: 0px 0px 6px #000000;
}

.car-show--edit-question-btn:hover {
    -webkit-filter: drop-shadow(0px 0px 3px rgb(0, 0, 0) );
    filter: drop-shadow(0px 0px 3px rgb(0, 0, 0));
}

.car-show-details--question-card {
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0.5em;
    margin-bottom: 0;
}

.car-show-details--answer-card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    margin: 0.5em;
    margin-top: 0;
    background-color: rgb(93, 172, 80);
}

.car-show--question-user-h6 {
    margin: 0.5em;
    margin-top: 0;
}

.active_sales--delete_post-image, .active_sales--edit_post-image, 
.car-show--edit-image, .car-show--question-image {
    width: 18px;
    margin-right: 7px;
    margin-bottom: 3px;
}

.user-show--edit-profile-image {
    width: 18px;
    margin-right: 7px;
    margin-bottom: 4px;
}

.delete-account--image {
    width: 22px;
    margin-right: 7px;
    margin-bottom: 4px;
}

.buy-btn--image {
    width: 25px;
    margin-right: 7px;
    margin-bottom: 3px;
}

.car-show--btn-buy {
    padding-top: 7px;
    padding-bottom: 7px;
}

.question--back-btn-image {
    width: 30px;
    padding: 0;
    margin-bottom: 2px;
}

.answer-form--back-btn {
    padding: 0.45rem 0.8rem;
}

.sold-cars--gross-revenue-text {
    color: rgb(0, 219, 0);
}

.car-show--sort-by-btn {
    border-radius: 10px;
    float: right;
}

body{
    background: url("background_image.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}