<div class="card col-6 mx-auto car-form--card-div">
    <h2 class="card-header text-dark border-0">Edit Car Form</h2>
    <h6 class="card-header text-dark small text-muted">Edit your car post by modifying the next form</h6>
    <%= render 'form', car: @car %>
</div>