<p id="notice"><%= notice %></p>

<div class="container mx-auto cars--index--catalogue-container">
  <br>
  <h1 class="text-center">Catalogue</h1>
  <p class="text-center lead"><small>Happy shopping!</small></p>
  <br><br>
  
  <% @array_four_cars.each_with_index do |four_cars, j| %>
    
    <%= render partial: 'car_catalogue', locals: {cars: four_cars} %>

    <% if j != @last_index %>
      <br><br><br>
    <% else %>
      <br>
    <% end %>
  <% end %>
</div>

<%= link_to 'New Car', new_car_path %>


