<div class="card col-6 mx-auto car-form--card-div">
    <h2 class="card-header text-dark border-0">Car Sale Form</h2>
    <h6 class="card-header text-dark small text-muted">Add your car for sale by filling the next form</h6>
    <%= render 'form', car: @car %>
</div>

<br><br>