<p id="notice"><%= notice %></p>

<div class="card mx-auto text-light show--card">
  
  <h2 class="card-header text-center">
    <div class="field form-group">
        <label><p class="show--car-head d-inline"><%= @car.car_model %></p></label>
    </div>
  </h2>
  
  <%= render "car_details" %>

  <hr class="car-show--card-divider">

  <%= render "car_questions" %>
</div>
<br>