<div class="container center-block">
    
    <div class="text-center">
        <%= image_tag "legendary_motorsport_logo.png", alt:"Legendary Motorsport logo" %>
    </div>
    
    <br><br>
    
    <h4 class="text-justify">Are you looking for a safe, eco-friendly, fuel efficient car that's practical for getting around town? Well you are in the wrong website. Are you looking to get them open-mouthed as you pass by? Welcome! You are in a safe place.</h4>

    <h4>Do you want to buy some badass looking cars? <%= link_to "Click here", cars_path, class:"home--link" %>.</h4>
</div>