<div class="container">
    <h3>Import vehicle data from CSV<h3>
    <%= form_tag import_products_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import" %>
    <% end %>
</div>