<h1 class="text-center text-white">Our catalogue</h1>

<div class="text-center text-white">
    <p>If you want to add any product please <%= link_to "click here", new_product_path %></p>
</div>

<div class="large-container center-block">
  <% @array_four_products.each do |four_products| %>
    <%= render partial: 'product', locals: { products: four_products } %>
  <% end %>
</div>

<div class="text-center text-white">
  <p>If you want to delete all the products please <%= link_to "click here", destroy_products_path %></p>
</div>